<!DOCTYPE html>
<html>
<body>
    <div id="login-page" class="page">
      <div class="login-container">
        <div class="login-card">
          <form id="login-form" class="login-form">
            <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
            <div class="text-center">
              <h1>Hello! Create an account?</h1>
              <p class="text-gray">Sign up for your wellness dashboard</p>
            </div>

            <div class="form-group">
              <label for="FirstName">First Name</label>
              <input
                type="text"
                id="FirstName"
                placeholder="Enter your first name"
                required
              />
            </div>

            <div class="form-group">
                <label for="LastName">Last Name</label>
                <input
                  type="text"
                  id="LastName"
                  placeholder="Enter your last name"
                  required
                />
              </div>

            <div class="form-group">
                <label for="number">number</label>
                <input
                  type="tel"
                  id="phoneNumber"
                  placeholder="enter your number"
                  required
                />
              </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                placeholder="Enter your email"
                required
              />
            </div>  

            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                placeholder="Enter your password"
                required
              />
            </div>

            <button type="submit" class="btn btn-primary w-full">
              Sign up
            </button>

          </form>
        </div>
      </div>
    </div>
  </body>
  <script>
    const form = document.getElementById('login-form');
    form.addEventListener('submit', function(e) {
      e.preventDefault();
      function handlelogin_password(){
        const user_email =document.getElementById("email").value;
        const user_password = document.getElementById("password").value;
        const firstName = document.getElementById("FirstName").value;
        const lastName = document.getElementById("LastName").value;
        const phoneNumber = document.getElementById("phoneNumber").value;
          if(user_email === "pbd@gmail.com" && user_password === "123score$579" && firstName === "Kyle" && lastName === "Lowry" && phoneNumber == "(416)-635-9125"){
              window.location.href = "login.html"
          }
          else{
            alert("Wrong username or password. Try again.");
            window.location.href = "register.html"
          }
        }
        handlelogin_password();
      });
    </script>
  </html>